Host *
    IdentityAgent ~/.bitwarden-ssh-agent.sock

Host linux.ews.illinois.edu
    User dsingh14
    PreferredAuthentications publickey,keyboard-interactive,password

Host *.cs.illinois.edu
    User dsingh14
    PreferredAuthentications publickey,keyboard-interactive,password
    ProxyJump linux.ews.illinois.edu
