Host *
    IdentityAgent ~/Library/Containers/com.bitwarden.desktop/Data/.bitwarden-ssh-agent.sock

Host linux.ews.illinois.edu
    User dsingh14
    PreferredAuthentications publickey,keyboard-interactive,password

Host *.cs.illinois.edu !linux.ews.illinois.edu
    User dsingh14
    PreferredAuthentications publickey,keyboard-interactive,password
    Match host *.cs.illinois.edu,!linux.ews.illinois.edu exec "! ping -c 1 -W 0.2 %h >/dev/null 2>&1"
        ProxyJump linux.ews.illinois.edu

